<span style="margin:-40px;">
    <ul style="list-style-type: none;display: inline-block;vertical-align: top;">
        <li> <h4>About Us</h4> </li>
        <li> @Html.ActionLink("About", "About", "AboutUs") </li>
        <li> @Html.ActionLink("Employees", "Employees", "AboutUs") </li>
        <li> @Html.ActionLink("Jobs", "Jobs", "AboutUs") </li>
        <li> @Html.ActionLink("Terms of Use", "Terms", "AboutUs") </li>
    </ul>

    <ul style="list-style-type: none;display: inline-block;vertical-align: top;">
        <li><h4>Support</h4></li>
        <li> @Html.ActionLink("FAQ", "FAQ", "Support")</li>
    </ul>

    <ul style="list-style-type: none;display: inline-block;vertical-align: top;">
        <li><h4>Contact Us</h4></li>
        <li>Email: Bookstore@bookstore.com</li>
        <li>Phone: 565-1234</li>   
    </ul>
</span>

<p></p>
<p>&copy; 2018 - BookStore</p>