<span style="width:100%;">
    <ul style="list-style-type: none;display: inline-block;vertical-align: top;">
        <li> <h4>About Us</h4> </li>
        <li> @Html.ActionLink("About", "About", "Home") </li>
        <li> @Html.ActionLink("Employees", "Employees", "Home") </li>
        <li> @Html.ActionLink("Jobs", "Jobs", "Home") </li>
        <li> @Html.ActionLink("Terms and Conditions", "Terms", "Home") </li>
    </ul>

    <ul style="list-style-type: none;display: inline-block;vertical-align: top;">
        <li><h4>Support</h4></li>
        <li> @Html.ActionLink("FAQ", "FAQ", "Support")</li>
    </ul>

    <ul style="list-style-type: none;display: inline-block;vertical-align: top;">
        <li><h4>Contact Us</h4></li>
        <li>Email: Bookstore@bookstore.com</li>
        <li>Phone: 565-1234</li>   
    </ul>
</span>

<p></p>
<p style="white-space:nowrap;">&copy;2018 - BookStore</p>