@model BookStore.Models.Order

@{
    var order = @Model;
}

<a href="javascript:history.back()"> Back </a>

<h1>Order Summary</h1>
<h2>Your Information</h2>
<ul style="list-style: none;margin-right:30px;">
    <li> @order.FirstName @order.LastName </li>
    <li> @order.BillingAddress</li>
    <li> @order.ShippingAddress</li>
    <li> @order.City</li>
    <li> @order.ZipCode</li>
    <li> @order.Country</li>
    <li> @order.OrderDate</li>
</ul>

<div>
    <h2>Your Cart</h2>
    <table style="border-collapse: separate; border: 1px solid;border-spacing: 10px;">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        @foreach(var item in order.Cart)
        {
            <tr> <td>@item.Book.Name</td> <td>@item.Quantity</td> <td>$@item.Book.Price</td></tr>
        }
    </table>
    <tr></tr>

    <p>Total: $@order.Total</p>

    @Html.ActionLink("Confirm", "ConfirmOrder", "Order",  new {
                                                              ID = order.ID,
                                                              BillingAddress = order.BillingAddress,
                                                              City = order.City,
                                                              Country = order.Country,
                                                              FirstName = order.FirstName,
                                                              LastName = order.LastName,
                                                              OrderDate = order.OrderDate,
                                                              ShippingAddress = order.ShippingAddress,
                                                              Total = order.Total,
                                                              ZipCode = order.ZipCode,
                                                              Cart = order.Cart}
                                                              )
</div>
