@model List<BookStore.Models.ViewModels.BookListViewModel>

<div>
    <h2>Check out our bestsellers!</h2>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Author</th> 
            <th>Category</th>
            <th>Rating</th>
            <th>Price</th>
        </tr>
        @foreach(var book in @Model)
        {
            <tr>
                <td>@Html.ActionLink(book.Name, "Details", "Book", new { id = book.ID })</td> <td><a>@book.Author</a></td> <td>@book.Category</td> <td>@book.Rating</td> <td>@book.Price</td>
            </tr>           
        }
    </table>
</div>

<div>
    <h2>Fantasy Classics</h2>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Author</th> 
            <th>Category</th>
            <th>Rating</th>
            <th>Price</th>
        </tr>
        @foreach(var book in @Model)
        {
            @if(book.Category == "Fantasy")
            {
                <tr>
                    <td><a>@book.Name</a></td> <td><a>@book.Author</a></td> <td>@book.Category</td> <td>@book.Rating</td> <td>@book.Price</td>
                </tr>
            }            
        }
    </table>
</div>