@model List<BookStore.Models.ViewModels.CartListViewModel>

@{
    var itemList = @Model;
    double totalPrice = 0;
    int totalItems = 0;
}

<h2>Your Cart</h2>

<table style="border-collapse: separate; border: 1px solid;border-spacing: 10px;">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
    <tr>
    @foreach(var item in itemList)
    {
        <tr>
            <td> @Html.ActionLink(item.Book.Name, "Details", "Book", new { id = item.Book.ID }) </td>  
            <td> $@item.Book.Price </td> 
            <td> @item.Quantity </td>
            <td> @Html.ActionLink("Remove", "RemoveCartItem", "Cart", new { id = item.Book.ID })</td>
        </tr>
        
        totalPrice += @item.Book.Price;
        totalItems++;
    }
    <tr></tr>
    <tr style="right:40px;">
        <th>Total Price</th>
        <th>Items</th>
    <tr>
    <tr>
        <td> $@totalPrice </td> <td>@totalItems</td>
    </tr>
</table>

@if(@Model.Count > 0)
{
    <div style="margin-top:20px">
        @Html.ActionLink("Proceed to Checkout", "UserInfo", "Order", null, new { @class = "btn btn-info" })
    </div>
}