@model BookStore.Models.ViewModels.BookListViewModel

@{
    var book = @Model;
}

<div>
    <h3> @book.Name </h3>
    <h4> @book.Author</h4>
    <h4> @book.YearPublished</h4>
    <h4> @book.Rating</h4>
    <h5> @book.Price </h5>



    @if(book.CopiesAvailable <= 0)
    {
        <p> Not in Stock </p>
    }

    else
    {
        @Html.ActionLink("Add to Cart", "AddToCart", "Cart", new { id = book.ID }, new { @class = "btn btn-info" })    
    }

</div>
