@model BookStore.Models.ViewModels.BookListViewModel

@{
    var book = @Model;
}

<a href="javascript:history.back()"> Back </a>  

<div>
    <p> <h3> @book.Name </h3> <h4> @book.Rating.ToString("0.##")</h4> </p>
    <h4> @book.Author</h4>
    <h4> @book.YearPublished</h4>
    <h5> $@book.Price </h5>



    @if(book.CopiesAvailable <= 0)
    {
        <p> Not in Stock </p>
    }

    else
    {
        @Html.ActionLink("Add to Cart", "AddToCart", "Cart", new { id = book.ID }, new { @class = "btn btn-info" })    
    }

    @Html.ActionLink("Comments", "GetComments", "Book", new { id = book.ID })   

    @using(Html.BeginForm("Rate", "Book", FormMethod.Get))
    {
        <form>
            Rate this book on a scale of 1-5: <br>    
            @Html.TextBox("Rating", null, new {required="required", style="height:27px;border-radius:4px;"})<br>

            @Html.Hidden("id", book.ID)

            <input type="submit" value="Submit Rating" />
        </form>
    }

</div>
