@model BookStore.Models.ViewModels.BookListViewModel

@{
    var book = @Model;
}

<div style="margin-right: -30px;">
    <a href="javascript:history.back()"> Back </a>  
</div>

<div style="float:left;border:1px solid;width:20%;padding:70px;margin-top:30px;">

</div>

<div style="float: left; vertical-align:top;margin-left: 30px;margin-top:10px;">
    <p> <h3> @book.Name </h3> <h4> @book.Rating.ToString("0.##")</h4> </p>
    <h4> @book.Author</h4>
    <h4> @book.YearPublished</h4>
    <h5> $@book.Price </h5>
</div>


<div style="margin-top: 190px; margin-left:260px;">
    @if(book.CopiesAvailable <= 0)
    {
        <p> Not in Stock </p>
    }

    else
    {
        @Html.ActionLink("Add to Cart", "AddToCart", "Cart", new { id = book.ID }, new { @class = "btn btn-info" })    
    }

    @Html.ActionLink("Comments", "GetComments", "Book", new { id = book.ID })
</div>

<div style="margin-right:70px;">

    @using(Html.BeginForm("Rate", "Book", FormMethod.Get))
    {
        <form>
            Rate this book on a scale of 1-5: <br>    
            @Html.TextBox("Rating", null, new {required="required", style="height:27px;border-radius:4px;"})<br>

            @Html.Hidden("id", book.ID)

            <input type="submit" value="Submit Rating" />
        </form>
    }
</div>
